{% extends "base.html" %}
{% block title %}Book list{% endblock %}
{% block content %}

<ul class="list-group">
    {% for book in cart_data %}
        <li class="list-group-item">
            <a href="{% url 'shop:book' book_id=book.id %}">{{ book.title }}</a>
            —
            <!-- Authors -->
            {% for author in book.author.all %}
                {{ author }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                No authors
            {% endfor %}

            <!-- Categories -->
            | Categories:
            {% for category in book.category.all %}
                {{ category }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                No categories
            {% endfor %}

            | Price: {{ book.price }}
            | Quantity: {{book.amount}}

             <form method="post" action="{% url 'order:cart' %}?next={{ request.path }}">
                {% csrf_token %}
                <input type="hidden" name="book_id" value="{{ book.id }}">
                <input type="number" name="quantity" value="{{ book.amount }}" min="1">
                <button type="submit" name="remove" value="1">Remove</button>
            </form>


            </li>
    {% empty %}
        <li class="list-group-item">Немає книг</li>
    {% endfor %}
</ul>

<a href="{url 'order:order_chekout' %}"> Chekout </a>
<form method="post" action="{% url 'order:cart' %}?next={{ request.path }}" class="d-inline">
    {% csrf_token %}
    <input type="hidden" name="clear" value="1">
    <button type="submit" class="nav-link btn btn-link">Очистити кошик</button>
</form>

{% endblock %}