{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Books List" %}{% endblock %}
{% block content %}
<h2>{% trans "Books List" %}</h2>
<table border="1">
    <thead>
        <tr>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Authors" %}</th>
            <th>{% trans "Categories" %}</th>
            <th>{% trans "Publisher" %}</th>
            <th>{% trans "Published Year" %}</th>
            <th>{% trans "Added At" %}</th>
            <th>{% trans "Amount" %}</th>
            <th>{% trans "Price" %}</th>
            <th>{% trans "Available" %}</th>
            <th>{% trans "Rating" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>
                {% for author in book.author.all %}
                    {{ author.first_name }} {{ author.last_name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for category in book.category.all %}
                    {{ category.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>{{ book.publisher.name }}</td>
            <td>{{ book.published_year }}</td>
            <td>{{ book.added_at }}</td>
            <td>{{ book.amount }}</td>
            <td>{{ book.price }}</td>
            <td>{{ book.available }}</td>
            <td>{{ book.calculated_rating }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="10">{% trans "No books found" %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}